.sndude-dude-wrap-byggisarna .sndude-dude-box{
    box-shadow: 1px 1px 3px #00000047;
    padding: 0px;
}

.sndude-dude-wrap-byggisarna .sndude-dude-box-content {
    padding: 10px;
}

.sndude-dude-wrap-byggisarna .sndude-dude-box-jobtitle-inner {
    background-color:#2f9099;
}
